
<br><br>
<p class="display-6 text-center">Cadastro Fornecedor</p>
<br><br>


<div class="row">
  <div class="col-8 m-auto">


    <form [formGroup]="formGroupFornecedor">
    <div class="mb-3">
<div class="display-6 text-center">
    </div>
  </div>

    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" formControlName="name"    class="form-control" id="name" placeholder="Nome">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" formControlName="email"   class="form-control" id="email" placeholder="Email">
    </div>


    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone:</label>
      <input type="text" formControlName="telefone"   class="form-control" id="telefone" placeholder="Telefone">
    </div>
    <div class="mb-3">
    <button class="btn btn-primary me-1"(click)="save()">Salvar</button>
    <button class="btn btn-secondary me-1"(click)="clean()">Limpar</button>


  </div>

<div class="mb-3">
  <label class="form-label">Sexo</label>
    <div class="form-check">
      <input type="radio" formControlName="sexo" class="form-check-input" id="sexo-masculino" value="Masculino">
      <label for="sexo-masculino" class="form-check-label">Masculino</label>
    </div>
    <div class="form-check">
      <input type="radio" formControlName="sexo" class="form-check-input" id="sexo-feminino" value="Feminino">
      <label for="sexo-feminino" class="form-check-label">Feminino</label>
    </div>
</div>
<br>

<form>

<div>
<table class="table ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col">Masculino/Feminino</th>



    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Fornecedor of Supplier" >
      <th scope="row">{{Fornecedor.id}}</th>
      <td>{{Fornecedor.name}} </td>
      <td>{{Fornecedor.email}}</td>
      <td>{{Fornecedor.telefone}}</td>
      <td>{{Fornecedor.sexo}}</td>




      <button class="" (click)="edit(Fornecedor)">Editar</button>
      <button class="" (click)="delete(Fornecedor)">Excluir</button>


  </tbody>
</table>
</div>
</form>

