
<br><br>
<p class="display-6 text-center">Cadastro Fornecedor</p>
<br><br>


<div class="row">
  <div class="col-8 m-auto">


    <form [formGroup]="formGroupFornecedor">
    <div class="mb-3">
<div class="display-6 text-center">
    </div>
  </div>

    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" formControlName="name"    class="form-control" id="name" placeholder="Nome">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" formControlName="email"   class="form-control" id="email" placeholder="Email">
    </div>


    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone:</label>
      <input type="text" formControlName="telefone"   class="form-control" id="telefone" placeholder="Telefone">
    </div>
    <div class="mb-3">
    <button class="btn btn-primary me-1"(click)="save()">Salvar</button>
    <button class="btn btn-secondary me-1"(click)="clean()">Limpar</button>


  </div>

</form>
<div class="ol-8 m-auto">
<input type="checkbox" name="areap" value="1" id="areap1"/>
<label for="areap1">Compra</label>
<input type="checkbox" name="areap" value="2" id="areap2"/>
<label for="areap2">Venda</label>
</div>



<br>

<div>
<input type="radio" name="sex" id="Masculino" checked="checked"/>
<label for="Masculino">Masculino</label><br/>
<input type="radio" name="sex" id="Feminino"/>
<label for="Feminino">Feminino</label>
</div>

<br>

<form>

<div>
<table class="table ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>


    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Fornecedor of Supplier" >
      <th scope="row">{{Fornecedor.id}}</th>
      <td>{{Fornecedor.name}} </td>
      <td>{{Fornecedor.email}}</td>
      <td>{{Fornecedor.telefone}}</td>



      <button class="" (click)="edit(Fornecedor)">Editar</button>
      <button class="" (click)="delete(Fornecedor)">Excluir</button>


  </tbody>
</table>
</div>
</form>

